.choice-list-box {
    border: 2px solid #ccc;
    height: 380px;
    margin-top: 10px;
    padding: 10px;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.choice-list {
    height: 300px;
    overflow: scroll;
}
